{
    "connections": [
    {
        "server": {
            "name" : "rizon",
            "address": "irc.rizon.net",
            "port": 6667
        },
        "info": {
            "nickname": "ZBot",
            "alt_nickname" : "ZBot_T",
            "realname": "ZBot",
            "username": "ZBot"
        },
        "nickserv": {
            "enabled": false,
            "password": ""
        },
        "channels": [
            "#coderbus",
            "#tgstation13"
        ],
        "ignore_list": [
        ]
    }
    ],
    "webhook": {
        "enabled" : true,
        "port": 8080,
        "github": {
            "secret": "",
            "events": {
                "pull_request": {
                    "actions": [
                        "opened",
                        "reopened",
                        "closed"
                    ],
                    "channels": [
                        "#coderbus"
                    ]
                },
                "issues": {
                    "actions": [
                        "opened",
                        "reopened",
                        "closed"
                    ],
                    "channels": [
                        "#coderbus"
                    ]
                },
                "push" : {
                    "ignore_non_master_pushes": false,
                    "branches_to_ignore": [],
                    "channels": [
                        "#coderbus"
                    ]
                }
            }
        }
    },
    "webrequests" : {
        "name" : "tgstation",
        "owner" : "tgstation"
    }
}